{% extends "layouts/app_layout.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}
{% block content %}
    {% load i18n wagtailcore_tags %}

    {% if page %}
        {% for translation in page.get_translations.live %}
            {% get_language_info for translation.locale.language_code as lang %}
            <a href="{% pageurl translation %}" rel="alternate" hreflang="{{ language_code }}">
                {{ lang.name_local }}
            </a>
        {% endfor %}
    {% endif %}

    <header id="header_page">
        <h1 class="text-indigo-600 font-bold">Indigo Bold</h1>
    </header>
{% endblock content %}
