{% extends "layouts/app_layout.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}
{% block content %}
    {% load i18n wagtailcore_tags %}
    <header id="header_page">
        <h1 class="text-indigo-600 font-bold">Indigo Bold Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed mauris scelerisque nunc placerat lacinia sed id dui. Integer scelerisque ante non gravida pellentesque. Sed quis varius tortor. Ut laoreet orci quis aliquet mattis. Vivamus auctor at metus eget vulputate. Maecenas eleifend nibh venenatis lorem eleifend volutpat. Sed dapibus urna eu enim aliquet pretium. Morbi faucibus dignissim lectus sed volutpat. Proin vitae iaculis felis. Curabitur tincidunt tellus non nisl rutrum auctor. Praesent metus ex, elementum eu urna et, congue porttitor leo. Sed ex ex, tempor sit amet nunc eget, ullamcorper lobortis massa. Cras in lacinia nulla, ut pretium lorem. Nunc laoreet nibh ac ipsum lobortis, tincidunt sollicitudin nisl ornare. Phasellus efficitur ligula a arcu mattis laoreet. Ut eu dolor ultricies, tempor justo a, condimentum turpis.

            Vestibulum vel interdum tortor. Mauris pellentesque, sem quis scelerisque malesuada, sem eros mattis justo, sed consequat nibh lacus vel mi. Donec tempus libero interdum mauris tempor dignissim. In hac habitasse platea dictumst. Aliquam ut ante a ante vulputate facilisis sed vehicula nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac felis eget metus sagittis bibendum. Morbi vitae sapien orci. Duis faucibus tincidunt lorem a tincidunt. Phasellus at velit quis quam sollicitudin fermentum. Mauris placerat bibendum nunc, vitae tincidunt dui convallis ac. Donec dignissim diam a lacus commodo finibus. Proin pretium sagittis eros eu tempus.
            
            Aliquam quis mauris a lorem aliquam dapibus. Maecenas sit amet quam sit amet libero fermentum commodo sit amet ut lorem. Proin in tincidunt nisl. Suspendisse elit arcu, scelerisque eu ex nec, iaculis feugiat risus. Duis nec felis tempus urna faucibus molestie. Integer faucibus a quam ac laoreet. Proin ex felis, auctor at lorem consectetur, molestie molestie justo. Suspendisse a hendrerit sapien.
            
            Ut efficitur aliquam sapien ac eleifend. Quisque cursus rhoncus ultrices. Aliquam justo orci, dapibus pellentesque sem vel, molestie consequat arcu. Fusce eget pellentesque lorem, et accumsan erat. Proin dictum augue eu fringilla lacinia. Vivamus accumsan, nisl eget volutpat suscipit, est risus venenatis dui, in porta tortor tellus at ligula. Duis varius posuere turpis sed tempor. Sed ligula nisl, porttitor non nulla tristique, efficitur commodo nulla. Nam finibus porta sodales. Ut id scelerisque ligula. Suspendisse id feugiat elit, ut laoreet elit. Vivamus sed velit neque. Suspendisse elementum lacus vitae purus facilisis mattis. Vivamus facilisis interdum diam, eu interdum est mattis sed. Vestibulum auctor ligula nec turpis varius lobortis. Donec ac feugiat nisi.</h1>
    </header>
{% endblock content %}
